DB_NAME=iedon-peerapi
DB_USER=peerapi
DB_PASSWORD=replace-with-a-long-random-password
DB_ROOT_PASSWORD=replace-with-another-long-random-password
API_IP=127.0.0.1
API_PORT=3000
PROBE_PORT=2189
SSH_AUTH_PORT=4222
NET_NAME=Mofu Networks
NET_DESC=Mofu Networks is an experimental network within DN42
NET_ASN=4242422670
MIGRATE_LEGACY_NETWORK_SETTINGS=true
KIOUBIT_OPENAUTH_ENABLED=true
KIOUBIT_OPENAUTH_DOMAIN=dn42.mofu.party
KIOUBIT_OPENAUTH_NOT_ALLOWED_ASNS=4242422670
CORS_ALLOW_ORIGIN=*
CORS_ALLOW_METHODS=GET, POST, OPTIONS
CORS_ALLOW_HEADERS=X-PeerAPI-Version, Content-Type, Authorization
